@charset "UTF-8";

/* コンテナ */
#container {
    /*フレックスボックス*/
    display: flex;
    /*ページの中間に固定*/
    justify-content: center;
    align-items: center;
    /*ボックス間の横幅*/
    /* gap: 30px; */
    /*ボックスの大きさ*/
    height: 600px;
    /* ボーダー */
    /* border: solid 4px #333;
    border-radius: 12px; */
}

/* 左エリア  */
#reftArea {
    /*背景色*/
    background: #fff;
    /*フレックスボックス*/
    display: flex;
    /*ボックス内の並びを指定*/
    flex-direction: column;
    /*ボックスの大きさ*/
    height: 600px;
    width: 900px;
    /*余白を指定して場所を調整*/
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

/* 左下エリア */
#lowerLeftArea {
    /*フレックスボックス*/
    display: flex;
    /*ボックス内の並びを指定*/
    flex-direction: row;
    /*ボックス内の下に配置*/
    margin-top: auto;
    /*背景色*/
    background: red;
    /*ボックスの大きさ*/
    height: 100px;
    width: 895px;
    /* ボーダー */
    border: 5px solid#111;
}

/*  合計エリア */
#totalarea {
    /*背景色*/
    /* background: green; */
    /*フレックスボックス*/
    display: flex;
    /*ボックス内の並びを指定*/
    flex-direction: row;
    /*余白を指定して場所を調整*/
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

/* 右エリア */
#rightArea {
    /*背景色*/
    /* background: #111; */
    /*フレックスボックス*/
    display: flex;
    /*ボックス内の並びを指定*/
    flex-direction: column;
    /* 文字色 */
    color: #fff;
    /*ボックスのサイズ*/
    height: 625px;
    width: 300px;
    /*余白を指定して場所を調整*/
    margin-left: auto;
    margin-right: auto;
    /* margin-top: auto; */
    margin-bottom: auto;
}

/* 表示エリア */
#displayArea {
    /*背景色*/
    /* background: #111; */
    /* 文字色 */
    color: #111;
    /*フレックスボックス*/
    display: flex;
    /*ボックス内の並びを指定*/
    flex-direction: column;
    /* 文字色 */
    color: #fff;
    text-align: center;
    /*ボックスのサイズ*/
    height: 500px;
    width: 290px;
    /*余白を指定して場所を調整*/
    margin-left: auto;
    margin-right: auto;
    /* margin-top: auto; */
    /* margin-bottom: auto; */
    /* スクロール */
    overflow: auto;
    /* ボーダー */
    border: 5px solid#111;
}

/* 右下エリア */
#lowerRightArea {
    /*背景色*/
    /* background: #111; */
    /*フレックスボックス*/
    display: flex;
    /*ボックス内の並びを指定*/
    flex-direction: column;
    /* 文字色 */
    color: #fff;
    /*ボックスのサイズ*/
    height: 125px;
    width: 300px;
    /*余白を指定して場所を調整*/
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

/* 商品確定ボタン */
#totalButton {
    /*背景色*/
    background: #70372c;
    /* 文字の色 */
    color: #fff;
    /* 文字のサイズ */
    font-size: 40px;
    /* 文字を中央に */
    text-align: center;
    /*ボックスのサイズ*/
    height: 100px;
    width: 250px;
    /* 両端に丸みを付ける */
    border-radius: 100px;
    /*余白を指定して場所を調整*/
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    /* フォントの設定 */
    font-weight: bold;
}

/* 商品ボタン */
.productButton {
    /* 文字の色 */
    color: #111;
    /*背景色*/
    background: gold;
    /* 文字を中央に */
    text-align: center;
    /*ボックスの余白*/
    padding: 30px 110px;
    /* 余白 */
    margin-left: 10px;
    /* ボーダー */
    border: solid 2px #333;
    border-radius: 8px;
    /* フォントの設定 */
    font-weight: bold;
    /*余白を指定して場所を調整*/
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* 購入リスト */
.purchaseList {
    /* 文字の色 */
    color: #111;
    /* 文字の大きさ */
    font-size: 15px;
    /* フォントの設定 */
    font-weight: bold;
}

/* 商品名 */
#name {
    /* 文字の色 */
    color: #111;
    /*背景色*/
    background: gold;
    /* 文字を中央に */
    text-align: center;
    /*ボックスのサイズ*/
    padding: 15px 60px;
    /*ボックスの大きさ*/
    height: 30px;
    width: 250px;
    /* ボーダー */
    border: solid 2px #333;
    border-radius: 8px;
    /* フォントの設定 */
    font-weight: bold;
}

/* 金額 */
#price {
    /* 文字の色 */
    color: #111;
    /*背景色*/
    background: gold;
    /* 文字を中央に */
    text-align: center;
    /*ボックスのサイズ*/
    padding: 15px 40px;
    /* 余白 */
    margin-left: 10px;
    /* ボーダー */
    border: solid 2px #333;
    border-radius: 8px;
    /* フォントの設定 */
    font-weight: bold;
}

#displayPrice {
    /* 文字の色 */
    color: #111;
}

/* 数量 */
#quantity {
    /* 文字の色 */
    color: #111;
    /*背景色*/
    background: gold;
    /* 文字を中央に */
    text-align: center;
    /*ボックスのサイズ*/
    padding: 15px 40px;
    /* 余白 */
    margin-left: 10px;
    /* ボーダー */
    border: solid 2px #333;
    border-radius: 8px;
    /* フォントの設定 */
    font-weight: bold;
}

/* 表示画面用の数量 */
#displayQuantity {
    /* 文字の色 */
    color: #111;
}

/* 詳細画面 */
#change {
    /* 文字の色 */
    color: #111;
    /*背景色*/
    background: gold;
    /* 文字を中央に */
    text-align: center;
    /*ボックスのサイズ*/
    padding: 15px 40px;
    /* 余白 */
    margin-left: 10px;
    /* ボーダー */
    border: solid 2px #333;
    border-radius: 8px;
    /* フォントの設定 */
    font-weight: bold;
}

/* ダイアログボックス */
#content {
    padding: 10px;
}

#dialog_back {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
}

/* ダイアログボックスの中のcss */
#dialog_body {
    color: white;
    font-size: 19px;
    position: absolute;
    /* border-radius: 6px 6px 6px 6px; */
    top: 27%;
    left: 33%;
    /* background-color: #FFF; */
    /* box-shadow: 6px 6px 6px rgb(0 0 0 / 40%); */
    padding: 8px;
}

/* ダイアログdivのcss */
.mojidiv {
    /*フレックスボックス*/
    display: flex;
    justify-content: space-around;
    font-size: 33px;
}

/* レジ選択ボタン */
.rezibuttondiv {
    display: flex;
    justify-content: space-around;
}

.rezibutton {
    padding: 11px 30px;
}

/* 閉じるボタン */
.closebuttondiv {
    display: flex;
    justify-content: center;
}

.closebutton {
    padding: 5px 15px;
    margin: 20px;
}

/* タブメニュー */
.tab__menu {
    display: flex;
    /* align-items: flex-end; */
    /* メニューを下揃え */
    /* justify-content: center; */
    min-height: 50px;
    /* メニュー切替時にタブがズレないように */
    padding: 0;
    margin: 0;
}

.tab__menu-item {
    list-style: none;
    width: 200px;
    padding: 8px 5px;
    /* メニューに高さを付ける */
    text-align: center;
    margin-right: 6px;
    background-color: #cdcdcd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    transition: all .3s;
    /* アニメーション */
}

.tab__menu-item:last-of-type {
    margin-right: 0px;
}

/* is-activeがついている時のスタイル */
.tab__menu-item.is-active {
    background-color: rgba(48, 172, 249);
    color: #ffffff;
    padding: 12px 5px;
}

/* タブパネル */
.tab__panel {
    width: 895px;
    /* ボーダー */
    border: 5px solid#111;
}

.tab__panel-box {
    min-height: 430px;
    padding: 10px 30px;
}

.tab__panel-box001 {
    background-color: rgb(205, 246, 246);
    display: none;
}

.tab__panel-box002 {
    background-color: rgb(249 227 243);
    display: none;
}

.tab__panel-box003 {
    background-color: rgb(200, 248, 195);
    display: none;
}

.tab__panel-box004 {
    background-color: rgb(200, 248, 195);
    display: none;
}

/* is-showがついている時のスタイル */
.tab__panel-box.is-show {
    display: block;
}