@charset "UTF-8";

/* コンテナ */
#container {
    /* 左上の「アイテム」の位置を固定 */
    position: relative;
    /*フレックスボックス*/
    display: flex;
    /*ページの中間に固定*/
    justify-content: center;
    align-items: center;
    /*ボックス間の横幅*/
    gap: 50px;
    /*ボックスの大きさ*/
    height: 600px;
    /* ボーダー */
    border: solid 2px #333;
    border-radius: 8px;
}

/* 「店員画面」表記 */
#container .name {
    position: absolute;
    display: inline-block;
    /* 位置 */
    top: -2px;
    left: -2px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    /* 文字の大きさ */
    font-size: 17px;
    /* 背景色 */
    background: #333;
    /* 文字の色 */
    color: #ffffff;
    /* フォントの設定 */
    font-weight: bold;
}

/* 左エリア  */
#reftArea {
    /*背景色*/
    background: #BDB4C6;
    /*フレックスボックス*/
    display: flex;
    /*ボックス内の並びを指定*/
    flex-direction: column;
    /*ボックスの大きさ*/
    height: 500px;
    width: 700px;
    /* ボーダー */
    border: 5px solid#111;
    /*余白を指定して場所を調整*/
    margin-left: 25px;
    margin-right: 25px;
}

/* 右エリア */
#rightArea {
    /*背景色*/
    /* background: #666; */
    /*フレックスボックス*/
    display: flex;
    /*ボックス内の並びを指定*/
    flex-direction: column;
    /* 文字色 */
    color: #fff;
    /*ボックスのサイズ*/
    height: 600px;
    width: 400px;
    /*余白を指定して場所を調整*/
    margin-left: 25px;
    margin-right: 25px;
}

/* 商品表示エリア */
#productArea {
    /*フレックスボックス*/
    display: flex;
    /*ボックス内の並びを指定*/
    flex-direction: column;
    /*余白を指定して場所を調整*/
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

/* 購入リスト */
#purchaseList {
    /* 文字の色 */
    color: #111;
    /* 文字の大きさ */
    font-size: 30px;
    /* フォントの設定 */
        font-weight: bold;
}

/* 左下エリア */
#lowerLeftArea {
    /*フレックスボックス*/
    display: flex;
    /*ボックス内の並びを指定*/
    flex-direction: row;
    /*ボックス内の下に配置*/
    margin-top: auto;
    /*背景色*/
    background: red;
    /*ボックスの大きさ*/
    height: 100px;
    width: 700px;
    /* ボーダー */
    border-top: 5px solid#111;
}

/*  合計エリア */
#totalArea {
    /*背景色*/
    /* background: green; */
    /*フレックスボックス*/
    display: flex;
    /*ボックス内の並びを指定*/
    flex-direction: row;
    /*余白を指定して場所を調整*/
    margin-left: auto;
    margin-right: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

/* 金額 */
#price {
    /* 文字の色 */
    color: #111;
    /*背景色*/
    background: gold;
    /* 文字を中央に */
    text-align: center;
    /*ボックスのサイズ*/
    padding: 15px 40px;
    /* 余白 */
    margin-left: 10px;
    /* ボーダー */
    border: solid 2px #333;
    border-radius: 8px;
    /* フォントの設定 */
    font-weight: bold;
}

/* 数量 */
#quantity {
    /* 文字の色 */
    color: #111;
    /*背景色*/
    background: gold;
    /* 文字を中央に */
    text-align: center;
    /*ボックスのサイズ*/
    padding: 15px 40px;
    /* 余白 */
    margin-left: 10px;
    /* ボーダー */
    border: solid 2px #333;
    border-radius: 8px;
    /* フォントの設定 */
    font-weight: bold;
}

/* 商品ボタンエリア */
#productButtonArea {
    /* 左上の「アイテム」の位置を固定 */
    position: relative;
    /*背景色*/
    /* background: #0bd; */
    /*フレックスボックス*/
    display: flex;
    /*ボックス内の並びを指定*/
    flex-direction: column;
    /*余白を指定して場所を調整*/
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    /* ボーダー */
    border: solid 2px #333;
    border-radius: 8px;
}

/* 「商品ボタンエリア」表記 */
#productButtonArea .name {
    position: absolute;
    display: inline-block;
    /* 位置 */
    top: -2px;
    left: -2px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    /* 文字の大きさ */
    font-size: 17px;
    /* 背景色 */
    background: #333;
    /* 文字の色 */
    color: #ffffff;
    /* フォントの設定 */
    font-weight: bold;
}

/* たまねぎボタン */
#onionButton {
    /* 背景色 */
    background: #FFA900;
    /* 文字の色 */
    color: #fff;
    /* 文字のサイズ */
    font-size: 20px;
    /* 文字を中央に */
    text-align: center;
    /*ボックスのサイズ*/
    height: 75px;
    width: 250px;
    /*余白を指定して場所を調整*/
    margin-bottom: 50px;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    /* 両端に丸みを付ける */
    border-radius: 100px;
    /* フォントの設定 */
        font-weight: bold;
}

/* にんじんボタン */
#carrotButton {
    /* 背景色 */
    background: #FF7000;
    /* 文字の色 */
    color: #fff;
    /* 文字のサイズ */
    font-size: 20px;
    /* 文字を中央に */
    text-align: center;
    /*ボックスのサイズ*/
    height: 75px;
    width: 250px;
    /*余白を指定して場所を調整*/
    margin-right: 50px;
    margin-left: 50px;
    /* 両端に丸みを付ける */
    border-radius: 100px;
    /* フォントの設定 */
        font-weight: bold;
}

/* 豚肉ボタン */
#porkButton {
    /* 背景色 */
    background: #FF0000;
    /* 文字の色 */
    color: #fff;
    /* 文字のサイズ */
    font-size: 20px;
    /* 文字を中央に */
    text-align: center;
    /*ボックスのサイズ*/
    height: 75px;
    width: 250px;
    /*余白を指定して場所を調整*/
    margin-bottom: 50px;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    /* 両端に丸みを付ける */
    border-radius: 100px;
    /* フォントの設定 */
        font-weight: bold;
}

/* 購入確定ボタンボックス */
#totalButton {
    /* 文字の色 */
    color: #fff;
    /*背景色*/
    background: #00186B;
    /* 文字のサイズ */
    font-size: 20px;
    /* 文字を中央に */
    text-align: center;
    /*ボックスのサイズ*/
    height: 100px;
    width: 300px;
    /* 両端に丸みを付ける */
    border-radius: 100px;
    /*余白を指定して場所を調整*/
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    /* フォントの設定 */
        font-weight: bold;
}